{% extends '::base.html.twig' %}

{% block title "Outstanding returns" %}

{% block body %}

<h1>Outstanding returns</h1>

<p><a href="{{ path('return_product') }}">Return a product</a></p>

<table>
    <thead>
        <tr>
            <th>Return number</th>
            <th>SKU</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        {% for return in returns %}
        <tr>
            <td title="{{ return.returnNumber }}">{{ return.returnNumber[:10] }}…</td>
            <td>{{ return.sku }}</td>
            <td>{{ return.price }}</td>
            <td>
                <form action="{{ path('refund_return') }}" method="post">
                    <input type="hidden" value="{{ return.returnNumber }}" name="return_number" />
                    <button name="return_type" value="credit">Refund for Credit</button>

                    {% if return.refundableForCash %}
                        <button name="return_type" value="cash">Refund for Cash</button>
                    {% endif %}
                </form>
            </td>
        </tr>
        {%  endfor %}
    </tbody>
</table>


{% endblock body %}

